on post-fs

service gnss_download /vendor/bin/gnss_download
    class cali
    user system
    group system
    oneshot

#service rpmbserver /vendor/bin/rpmbserver -r /dev/block/mmcblk0rpmb
#    class cali
#    socket rpmbserver stream 0666 rpmbserver rpmbserver
#    group system
#    seclabel u:r:tee:s0

service modem_ctl-cali /vendor/bin/modem_control
    class cali
    user root
    group system radio shell
    oneshot

service modem_ctl-ft /vendor/bin/modem_control
    class factorytest
    user root
    group system radio shell
    oneshot

service cp_diskserver /vendor/bin/cp_diskserver
    class cali
    user root
    group root

service wcnd-cali /vendor/bin/connmgr -R
    class cali
    user root
    group root system shell wifi inet net_bt_admin net_bt_stack
    seclabel u:r:wcnd:s0

service wcnd_eng-cali /vendor/bin/connmgr -G
    class cali
    user root
    group root system shell wifi inet bluetooth
    disabled
    oneshot
    seclabel u:r:wcnd:s0

service logd-cali /system/bin/logd
    class cali
    socket logd stream 0666 logd logd
    socket logdr seqpacket 0666 logd logd
    socket logdw dgram 0222 logd logd
    socket logdylog seqpacket 0666 logd logd
    file /proc/kmsg r
    file /dev/kmsg w
    user logd
    seclabel u:r:logd:s0

service slogmodem /vendor/bin/slogmodem
    user shell
    group system sdcard_rw media_rw root

service console-cali /system/bin/sh
    console
    class cali
    user root
    group root
    seclabel u:r:shell:s0

service engpcclient /vendor/bin/engpc
    class cali
    user root
    group root sdcard_rw

on property:ro.bootmode=cali
    # Enables vser port
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "vser"
    rm /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/vser.gs7 /config/usb_gadget/g1/configs/b.1/f1

    mount_all /etc/recovery.tmpfsdata.fstab
    mount tmpfs tmpfs /data mode=0777
    chown system system /data
    chmod 0771 /data
    restorecon /data
    mkdir /data/local 0751 root root
    mkdir /data/local/englog 0777 root root
    mkdir /data/local/media 0751 media media
    mkdir /data/local/slogmodem 0770 shell system
    mkdir /data/sprd_ss 0770 system system
    class_start cali
    insmod /lib/modules/mali.ko
    insmod /system/lib/modules/trout_fm.ko
    insmod /lib/modules/bcmdhd.ko
	mkdir /data/gnss/ 0777 system system
	mkdir /data/gnss/bin/ 0777 system system
	mkdir /data/gnss/supl/ 0777 system system
	mkdir /data/gnss/config/ 0777 system system
	mkdir /data/gnss/lte/ 0777 system system
	chown system system /data/gnss/bin/gnssmodem.bin
	chown system system /data/gnss/config/config.xml
	chown system system /data/gnss/supl/supl.xml
	chown system system /data/gnss/supl/spirentroot.cer
	chown system system /data/gnss/lte/ext.eph
	chown system system /data/gnss/lte/jpleph.405
	chown system system /data/gnss/lte/raw.obs
	chown system system /data/gnss/gnss.log
	chown system system /data/gnss/nmea.log
	chown system system /productinfo/tsx.dat
        chown system system /productinfo/txdata.txt
	chown system system /data/gnss/FlashCfg.cg
        chown system system /sys/class/misc/gnss_common_ctl/gnss_power_enable
        chown system system /sys/class/misc/gnss_common_ctl/gnss_dump
        chown system system /sys/class/misc/gnss_common_ctl/gnss_subsys
        chown system system /dev/gnss_pmnotify_ctl
	chmod 666 /data/gnss/bin/gnssmodem.bin
	chmod 666 /data/gnss/config/config.xml
	chmod 660 /data/gnss/supl/supl.xml
	chmod 660 /data/gnss/supl/spirentroot.cer
	chmod 666 /data/gnss/lte/ext.eph
	chmod 666 /data/gnss/lte/jpleph.405
	chmod 660 /data/gnss/lte/raw.obs
	chmod 666 /data/gnss/gnss.log
	chmod 666 /data/gnss/nmea.log
	chmod 666 /productinfo/tsx.dat
        chmod 666 /productinfo/txdata.txt
	chmod 666 /data/gnss/FlashCfg.cg
        chmod  220 /sys/class/misc/gnss_common_ctl/gnss_power_enable
        chmod 660 /sys/class/misc/gnss_common_ctl/gnss_dump
        chmod 660 /sys/class/misc/gnss_common_ctl/gnss_subsys
        chmod 660  /dev/gnss_pmnotify_ctl

    insmod /lib/modules/sprdbt_tty.ko
    start hwservicemanager
    start cp_diskserver
    start slogmodem
    start vendor.mlogservice

on property:ro.bootmode=factorytest
    # Enables vser port
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "vser"
    rm /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/vser.gs7 /config/usb_gadget/g1/configs/b.1/f1

    mount_all /etc/recovery.tmpfsdata.fstab
    mount tmpfs tmpfs /data mode=0777
    trigger post-fs
    trigger post-fs-data
    chown system system /data
    chmod 0771 /data
    chown system system /dev/adf0
    chown system system /dev/adf-interface0.0
    chown system system /dev/adf-overlay-engine0.0
    mkdir /data/local 0751 root root
    mkdir /data/local/englog 0777 root root
    mkdir /data/local/media 0751 media media
    mkdir /data/misc 01771 system misc
    mkdir /data/misc/media 0700 media media
    mkdir /data/misc/audioserver 0700 audioserver audioserver
    mkdir /data/misc/cameraserver 0700 cameraserver cameraserver

    # Support audio test
    mkdir /dev/pipe 0755 system system
    mkdir /data/local/media 0770 audioserver system

    chown audioserver system /proc/agdsp/agdsp
    chown audioserver system /proc/agdsp/ldinfo
    chown audioserver system /proc/agdsp/mem
    chown audioserver system /proc/agdsp/start
    chown audioserver system /proc/agdsp/status
    chown audioserver system /proc/agdsp/stop
    chown audioserver system /proc/agdsp/wdtirq
    chown audioserver system /dev/block/platform/sdio_emmc/by-name/l_agdsp
    chown audioserver system /dev/audio_pipe
    chmod 666   /dev/audio_pipe
    chmod 666   /dev/audio_dsp_log
    chmod 666   /dev/audio_dsp_pcm
    chmod 666   /dev/audio_dsp_mem

    chown  root audio  /dev/audio_dsp_log
    chown  root audio  /dev/audio_dsp_pcm
    chown  root audio  /dev/audio_dsp_mem

    insmod /lib/modules/sprdbt_tty.ko
    insmod /lib/modules/sprd_fm.ko
    insmod /lib/modules/mali.ko
    insmod /system/lib/modules/trout_fm.ko
    insmod /lib/modules/bcmdhd.ko
    mkdir /data/gnss/ 0777 system system
    mkdir /data/gnss/bin/ 0777 system system
    mkdir /data/gnss/supl/ 0777 system system
    mkdir /data/gnss/config/ 0777 system system
    mkdir /data/gnss/lte/ 0777 system system
    chown system system /data/gnss/bin/gnssmodem.bin
    chown system system /data/gnss/config/config.xml
    chown system system /data/gnss/supl/supl.xml
    chown system system /data/gnss/supl/spirentroot.cer
    chown system system /data/gnss/lte/ext.eph
    chown system system /data/gnss/lte/jpleph.405
    chown system system /data/gnss/lte/raw.obs
    chown system system /data/gnss/gnss.log
    chown system system /data/gnss/nmea.log
    chown system system /productinfo/tsx.dat
    chown system system /productinfo/txdata.txt
    chown system system /data/gnss/FlashCfg.cg
    chown system system /sys/class/misc/gnss_common_ctl/gnss_power_enable
    chown system system /sys/class/misc/gnss_common_ctl/gnss_dump
    chown system system /sys/class/misc/gnss_common_ctl/gnss_subsys
    chown system system /dev/gnss_pmnotify_ctl
    chmod 666 /data/gnss/bin/gnssmodem.bin
    chmod 666 /data/gnss/config/config.xml
    chmod 660 /data/gnss/supl/supl.xml
    chmod 660 /data/gnss/supl/spirentroot.cer
    chmod 666 /data/gnss/lte/ext.eph
    chmod 666 /data/gnss/lte/jpleph.405
    chmod 660 /data/gnss/lte/raw.obs
    chmod 666 /data/gnss/gnss.log
    chmod 666 /data/gnss/nmea.log
    chmod 666 /productinfo/tsx.dat
    chmod 666 /productinfo/txdata.txt
    chmod 666 /data/gnss/FlashCfg.cg
    chmod  220 /sys/class/misc/gnss_common_ctl/gnss_power_enable
    chmod 660 /sys/class/misc/gnss_common_ctl/gnss_dump
    chmod 660 /sys/class/misc/gnss_common_ctl/gnss_subsys
    chmod 660  /dev/gnss_pmnotify_ctl
    chmod 660 /proc/bluetooth/sleep/btwrite
	chown bluetooth net_bt_admin /proc/bluetooth/sleep/btwrite
	chmod 660 /sys/class/rfkill/rfkill0/state
	chown bluetooth net_bt_admin /sys/class/rfkill/rfkill0/state
	chmod 660 /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt_admin /sys/class/rfkill/rfkill0/type
    mkdir /data/misc 01771 system misc
    mkdir /data/misc/wifi 0770 wifi wifi
    write /data/misc/wifi/fwpath sta_mode
    chmod 660 /data/misc/wifi/fwpath
    chown wifi wifi /data/misc/wifi/fwpath
    mkdir /data/ylog 0777
    trigger adb_enable
    start cp_diskserver
    start slogmodem
    trigger factorytest


on cali
    mkdir /cache/ylog 0777
    start ylog_force_startup

    mkdir /data/gnss/ 0777 system system
    mkdir /data/gnss/bin/ 0777 system system
    mkdir /data/gnss/supl/ 0777 system system
    mkdir /data/gnss/config/ 0777 system system
    mkdir /data/gnss/lte/ 0777 system system
    chmod 666 /data/gnss/bin/gnssmodem.bin
    chmod 666 /data/gnss/config/config.xml
    chmod 660 /data/gnss/supl/supl.xml
    chmod 660 /data/gnss/supl/spirentroot.cer
    chmod 666 /data/gnss/lte/ext.eph
    chmod 666 /data/gnss/lte/jpleph.405
    chmod 666 /data/gnss/gnss.log
    chmod 666 /data/gnss/nmea.log
    chmod 666 /productinfo/tsx.dat
    chmod 666 /productinfo/txdata.txt

on factorytest
    mkdir /data/gnss/ 0777 system system
    mkdir /data/gnss/bin/ 0777 system system
    mkdir /data/gnss/supl/ 0777 system system
    mkdir /data/gnss/config/ 0777 system system
    mkdir /data/gnss/lte/ 0777 system system
    chmod 666 /data/gnss/bin/gnssmodem.bin
    chmod 666 /data/gnss/config/config.xml
    chmod 660 /data/gnss/supl/supl.xml
    chmod 660 /data/gnss/supl/spirentroot.cer
    chmod 666 /data/gnss/lte/ext.eph
    chmod 666 /data/gnss/lte/jpleph.405
    chmod 666 /data/gnss/gnss.log
    chmod 666 /data/gnss/nmea.log
    chmod 666 /productinfo/tsx.dat
    chmod 666 /productinfo/txdata.txt

on property:ro.bootmode=factorytest && property:ro.debuggable=0
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}

on cali
    mkdir /cache/ylog 0777
    start ylog_force_startup

on property:ro.bootmode=cali
    mkdir /cache/ylog 0777
    start ylog_force_startup
